@model int
@{
    ViewData["Title"] = "OrDer Completed";
    Layout = "~/Views/Shared/_Layoutcustomer.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h2>Order Completed</h2>
    <p>Your order with ID @Model has been placed successfully.</p>

</div>
