
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


 <div class="slider-item" style="background-image: url(/images/bg_2.jpg); background-size: cover; background-repeat: no-repeat; height : 100vh; margin-left: 0; color: yellow">
    <h1 class="dancing-script" style="text-align:center">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ</h1>
</div> 
